.about-message {
  padding: 1rem;
}

.portfolio-photo-wrapper {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  margin: 1rem auto;
  border: white 8px solid;
}

@media (min-width: $breakpoint-tablet) {
  .portfolio-photo-wrapper {
    float: left;
    margin: 0 2rem 1rem 2rem;
  }

  .about-message {
    margin: 0 auto;
    max-width: 55rem;
    a{
      text-decoration: underline;
    }
  }
}

    
