header svg {
    margin: 1rem;
    height: 3rem;
    path {
      fill: white;
    stroke: white;
    }
    border-radius: 50%;
}

.home-wrapper{  
    .header-logo {
      display: none;
      
  }
  }